/* reset predefined styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* set variables for colors and spaces */
:root{

    --c-sec-50 : #DFA350;
    --c-sec-100 : #FFFBF0;
    --c-sec-200 : #EEBFC2;
    --c-sec-500 : #A67272;
    --c-sec-900 : #EDB093; 
    --c-sec-1000: (237,176,147);


    --space-05 : .5em;
    --space-1 : 1em;
    --space-2 : 2em;
    --space-3 : 3em;
    --space-4 : 4em;

}

/* class utilities for flexbox */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}


body {

    /* heading font size and family */
    color: var(--c-sec-500);
    font-size : var(--space-1);
    font-family: "Protest Strike", sans-serif;
    margin-top: .75em;
    letter-spacing: 3px;

    /* heading container with image logo */
   .heading-container {
    display: flex;              
    align-items: center;        
    gap: 10px;  
    margin-top: 10px;  
    margin-bottom: 20px;            
    }
    
  /* main background colour */
    background-color: var(--c-sec-100);
}


    /*logo formatting */
    .logo {
    width: 30px;
    height: 30px;
    }

    /*fill header formatting*/
    #fill-container{
    display: flex;              
    align-items: center;        
    gap: 10px;  
    margin-top: 10px;  
    margin-bottom: 20px;  
    }

    .yarn{
    width: 60px;
    height: 30px;
    margin-top: 30px;
    }


    /*button style*/
    .button{
    background-color: var(--c-sec-200);
    color: black;
    padding: var(--space-05) var(--space-05);
    border: none;
    border-radius: var(--space-05);
    font-family: "Pangolin", sans-serif;
    font-size: 1em;
    margin: var( --space-05);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    }

  #clear{
    width: 82px;
    height:31px;
    }

  #save{
    width: 130px;
    height:31px;
    
    }

    /*send design button*/
   #senddesign{
    background-color: var(--c-sec-50);
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.1em;
    border-style:solid;
    border-color: var(--c-sec-100);                    
    border-width: 3px;
    border-radius: 2em;

    width: 150px;
    height: 43px;
    display: block;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }



    .color-strip {
    Background-color: var(--c-sec-500);
    height: 1.5em;
    width: 100%;
    position: relative;
    z-index: 1;
    }

    /*clear button*/
  #clear {
      align-self: flex-start;
   }

  /*Fill Button*/
    .fill{
    color: grey;
    font-size : 1.5em;
    font-family: "Protest Strike", sans-serif;
    margin-top: 1.2em;
    letter-spacing: 2px;
    }

  /* Deselect Button Formatting
  .Colorpicker-container {
    text-align: center;
    margin-top: 10px;
  } */

.pickercontainer{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em;
}

  .Colorpicker{
  /*font */
    color: white;
    font-size : 1em;
    font-family: "Protest Strike", sans-serif;
    letter-spacing: 2px;
  /*format*/ 
    background-color: var(--c-sec-500);
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 2em;
    border: none;
    margin: 0.5em;
    
  }


/* grid design and formatting */
.cell {
  background-color: pink;
  color: #3d3d3d;
  font-size: 0.8em;
  font-family: "Pangolin", sans-serif;
/*format*/
  width: 45px;
  height: 45px;
  border-radius: 0.3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*cell formatting */
.ninebynine{
    margin: 0.1em;
    font-size: 1.2em;
}


#grid {
  display: grid;                          
  grid-template-columns: repeat(8, 1fr); 
  justify-content: center;                              
  width: fit-content;            
  gap: 3px;       
  margin: 1em auto;
}

/*background of color picker*/
.section-content{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 1.5em;
    margin-left: 1.5em;
    padding: 2em;
    background-color: rgb(238, 191, 194, 0.4);
    border-radius: 1em;
    justify-content: center;
    display: flex;
    align-items: center
}


/*hex color picker */
.alwan {
    border-radius: 0.3em;
  }



